src/*.exe
src/cancercurecoin
src/cancercurecoind
src/test_cancercurecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cancercurecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
cancecoin-qt
CancerCureCoin-Qt.app

# Unit-tests
Makefile.test
cancercurecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
CancerCureCoin/CancerCureCoin.xcodeproj/project.pbxproj

!src/leveldb-*/Makefile
